* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px 15px;
    overflow-x:hidden;
    overflow-y:auto;
    transition:1s;
    /* background:#111;
     */
    color:white;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    backdrop-filter: blur(4px);
}

.container{
    position:relative;
    z-index:10;
    width:100%;
    max-width:420px;
    margin:auto;
}

.weather-card{
    margin-top:20px;
    width:100%;
    padding:30px;
    border-radius:25px;
    text-align:center;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.12);
}

.weather-card img {
    width: 120px;
    margin-top: -40px;
    margin-bottom: -40px;
}

.search-box{
    display:flex;
    gap:10px;
    width:100%;
}

input{
    flex:1;
    min-width:0;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#1d1d1d;
    color:white;
    font-size:16px;
}

#humidity{
    margin-top: 12px;   
}

button{
    width:110px;
    flex-shrink:0;
    border:none;
    background:#00b4ff;
    color:white;
    padding:15px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

button:hover {
    transform: scale(1.05);
    background: #0089c9;
}

.details{

    display:flex;
    gap:15px;
    margin-top:30px;
}

.details div{

    flex:1;

    padding:18px;
}

.details div {
    width: 45%;
    padding: 18px;
    border-radius: 15px;
    background: rgba(255, 255, 255, .08);
}

.details p {
    font-size: 22px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.datetime {
    margin-top: 18px;
    margin-bottom: -5px;
    text-align: center;
    color: white;
}

#currentDate {
    font-size: 17px;
    font-weight: 600;
}

#currentTime {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.clear {
    background:
        linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .55)),
        url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
}

.clouds {
    background:
        linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)),
        url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
}

.rain {
    /* background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
        url("https://images.unsplash.com/photo-1515694346937-94d85e41e6f0?auto=format&fit=crop&w=1500&q=80"); */
    background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
        url("https://media.istockphoto.com/id/503284599/photo/rainy-weather.jpg?s=612x612&w=0&k=20&c=pV38CVp0CLArYEZ6OUWnaqo6J5mo4JpbEZd61Vxr_I4=");
    background-size: cover;

}

.snow {
    background:
        linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .55)),
        url("https://images.unsplash.com/photo-1483664852095-d6cc6870702d?auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
}

.thunderstorm {
    background:
        linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
        url("https://images.unsplash.com/photo-1500674425229-f692875b0ab7?auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
}


/*  tablets */

@media (max-width:768px){

    .container{

        max-width:500px;
    }

}

/* mobiles */

@media (max-width:480px){

    body{

        padding:20px 12px;
    }

    h1{

        font-size:38px;
    }

    .search-box{

        flex-direction:column;
    }

    input{

        width:100%;
    }

    button{

        width:100%;
    }

    .weather-card{

        padding:25px 20px;
    }

    #location{
        font-size:28px;
    }

    #temp{

        font-size:58px;
    }

    #condition{

        font-size:20px;
    }

    #currentDate{

        font-size:16px;
    }

    #currentTime{

        font-size:36px;
    }

    .weather-card img{

        width:110px;
    }

    .details{

        flex-direction:column;
    }

    .details div{

        width:100%;
    }

}

/* small phones */

@media (max-width:320px){

    h1{

        font-size:32px;
    }

    #temp{

        font-size:48px;
    }

    #currentTime{

        font-size:30px;
    }

}